table {
  width: 100%;
}

.mat-elevation-z8 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #fff;
  gap: 40px;
  box-shadow: none !important;
}

::ng-deep{
    mat-card{
        padding: 10px;
    
        mat-card-actions{
            justify-content: space-between !important; 
        }
    }
} 